@import "header";

@import "main";

@import "mediaquieres";


@mixin imgmedia {
    margin: 20px;
    padding: 10px;
    text-align: center;
}


body{
    background-color: white;
    font-family: 'Kanit', sans-serif;
}



h3{
   text-align: center;
}

.preguntasFrecuentes{
    margin: 10px;
    padding: 20px;
    border: solid rgb(249, 216, 184);
   &:hover{
    background-color: white;
   }
    h3{
        text-align: center;
    }
}
.tablaDeTalles{
    background-color:white;
     margin: 10px;
     padding: 20px;
     border: solid  rgb(249, 216, 184) ;
    align-items: center;
table{
    margin: 1.5rem;
    padding: 1rem;
    width: 30%;
    border: 1px solid rgb(249, 216, 184);
   align-items: center;
   text-align: center;
}
th, td {
    width: 10%;
    border: 1px solid black;
    vertical-align: top;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    text-align: left;
 }  
 }


.colorBorde{
    border: solid gray;

}
.container{
    display: flex;
    justify-content: center;
    .imgMediaQ{
        background-color: #ffffff;
        @include imgmedia ;
    }
}

.imgMediaQ{
    border: solid gray;
    margin-top: 2px;
}
